.startScreen {
    z-index: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background-image: url('../../assets/startScreen.png'); */
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    justify-content: space-evenly;
    animation: imageFade 3s ease-in-out;
}

.mainTitle {
    color: rgba(137, 225, 89, 1);
}

.menuBlock{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    /* height: 50%;
    justify-content: space-between; */

    height: 55%;
    justify-content: space-around;
    left: 55%;
}

.logo {
    margin-top: 100px;
}

.title {
    margin-top: -60px;
}

.buttonsBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

@keyframes imageFade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* .fade {
    animation: imageFade 2s ease-in-out;
  } */